.Reasons{
    padding: 0 2rem;
    display: flex;
}

.left-div {
  width: 600px;
  height: 600px;
  background: blue;
}

.right-div {
  width: 600px;
  height: 600px;
  background: cyan;
}

.left-div {
  width: 600px;
  height: 600px;
  background: green;
}

